<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<array>
	<dict>
		<key>phrase</key>
		<string>Hardy</string>
		<key>shortcut</key>
		<string>がんばりや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Lonely</string>
		<key>shortcut</key>
		<string>さみしがり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Brave</string>
		<key>shortcut</key>
		<string>ゆうかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Adamant</string>
		<key>shortcut</key>
		<string>いじっぱり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Naughty</string>
		<key>shortcut</key>
		<string>やんちゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Bold</string>
		<key>shortcut</key>
		<string>ずぶとい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Docile</string>
		<key>shortcut</key>
		<string>すなお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Relaxed</string>
		<key>shortcut</key>
		<string>のんき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Impish</string>
		<key>shortcut</key>
		<string>わんぱく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Lax</string>
		<key>shortcut</key>
		<string>のうてんき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Timid</string>
		<key>shortcut</key>
		<string>おくびょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Hasty</string>
		<key>shortcut</key>
		<string>せっかち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Serious</string>
		<key>shortcut</key>
		<string>まじめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Jolly</string>
		<key>shortcut</key>
		<string>ようき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Naive</string>
		<key>shortcut</key>
		<string>むじゃき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Modest</string>
		<key>shortcut</key>
		<string>ひかえめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Mild</string>
		<key>shortcut</key>
		<string>おっとり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Quiet</string>
		<key>shortcut</key>
		<string>れいせい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Bashful</string>
		<key>shortcut</key>
		<string>てれや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Rash</string>
		<key>shortcut</key>
		<string>うっかりや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Calm</string>
		<key>shortcut</key>
		<string>おだやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Gentle</string>
		<key>shortcut</key>
		<string>おとなしい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Sassy</string>
		<key>shortcut</key>
		<string>なまいき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Careful</string>
		<key>shortcut</key>
		<string>しんちょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Quirky</string>
		<key>shortcut</key>
		<string>きまぐれ</string>
	</dict>
</array>
</plist>
