<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>がんばりや</string>
		<key>shortcut</key>
		<string>がんばりや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さみしがり</string>
		<key>shortcut</key>
		<string>さみしがり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゆうかん</string>
		<key>shortcut</key>
		<string>ゆうかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いじっぱり</string>
		<key>shortcut</key>
		<string>いじっぱり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>やんちゃ</string>
		<key>shortcut</key>
		<string>やんちゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ずぶとい</string>
		<key>shortcut</key>
		<string>ずぶとい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すなお</string>
		<key>shortcut</key>
		<string>すなお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>のんき</string>
		<key>shortcut</key>
		<string>のんき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>わんぱく</string>
		<key>shortcut</key>
		<string>わんぱく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>のうてんき</string>
		<key>shortcut</key>
		<string>のうてんき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おくびょう</string>
		<key>shortcut</key>
		<string>おくびょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>せっかち</string>
		<key>shortcut</key>
		<string>せっかち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>まじめ</string>
		<key>shortcut</key>
		<string>まじめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ようき</string>
		<key>shortcut</key>
		<string>ようき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>むじゃき</string>
		<key>shortcut</key>
		<string>むじゃき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひかえめ</string>
		<key>shortcut</key>
		<string>ひかえめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おっとり</string>
		<key>shortcut</key>
		<string>おっとり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>れいせい</string>
		<key>shortcut</key>
		<string>れいせい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てれや</string>
		<key>shortcut</key>
		<string>てれや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>うっかりや</string>
		<key>shortcut</key>
		<string>うっかりや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おだやか</string>
		<key>shortcut</key>
		<string>おだやか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おとなしい</string>
		<key>shortcut</key>
		<string>おとなしい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>なまいき</string>
		<key>shortcut</key>
		<string>なまいき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんちょう</string>
		<key>shortcut</key>
		<string>しんちょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きまぐれ</string>
		<key>shortcut</key>
		<string>きまぐれ</string>
	</dict>
</array>
</plist>
