<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>Berry</string>
		<key>shortcut</key>
		<string>きのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Gold Berry</string>
		<key>shortcut</key>
		<string>おうごんのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>PSNCureBerry</string>
		<key>shortcut</key>
		<string>どくけしのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>PRZCureBerry</string>
		<key>shortcut</key>
		<string>まひなおしのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Mint Berry</string>
		<key>shortcut</key>
		<string>はっかのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Burnt Berry</string>
		<key>shortcut</key>
		<string>やけたきのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ice Berry</string>
		<key>shortcut</key>
		<string>こおったきのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Bitter Berry</string>
		<key>shortcut</key>
		<string>にがいきのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>MysteryBerry</string>
		<key>shortcut</key>
		<string>ふしぎなきのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>MiracleBerry</string>
		<key>shortcut</key>
		<string>きせきのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Cheri Berry</string>
		<key>shortcut</key>
		<string>くらぼのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Chesto Berry</string>
		<key>shortcut</key>
		<string>かごのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Pecha Berry</string>
		<key>shortcut</key>
		<string>ももんのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Rawst Berry</string>
		<key>shortcut</key>
		<string>ちーごのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Aspear Berry</string>
		<key>shortcut</key>
		<string>ななしのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Leppa Berry</string>
		<key>shortcut</key>
		<string>ひめりのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Oran Berry</string>
		<key>shortcut</key>
		<string>おれんのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Persim Berry</string>
		<key>shortcut</key>
		<string>きーのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Lum Berry</string>
		<key>shortcut</key>
		<string>らむのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Sitrus Berry</string>
		<key>shortcut</key>
		<string>おぼんのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Figy Berry</string>
		<key>shortcut</key>
		<string>ふぃらのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Wiki Berry</string>
		<key>shortcut</key>
		<string>ういのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Mago Berry</string>
		<key>shortcut</key>
		<string>まごのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Aguav Berry</string>
		<key>shortcut</key>
		<string>ばんじのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Iapapa Berry</string>
		<key>shortcut</key>
		<string>いあのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Razz Berry</string>
		<key>shortcut</key>
		<string>ずりのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Bluk Berry</string>
		<key>shortcut</key>
		<string>ぶりーのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Nanab Berry</string>
		<key>shortcut</key>
		<string>ななのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Wepear Berry</string>
		<key>shortcut</key>
		<string>せしなのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Pinap Berry</string>
		<key>shortcut</key>
		<string>ぱいるのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Pomeg Berry</string>
		<key>shortcut</key>
		<string>ざろくのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Kelpsy Berry</string>
		<key>shortcut</key>
		<string>ねこぶのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Qualot Berry</string>
		<key>shortcut</key>
		<string>たぽるのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Hondew Berry</string>
		<key>shortcut</key>
		<string>ろめのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Grepa Berry</string>
		<key>shortcut</key>
		<string>うぶのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Tamato Berry</string>
		<key>shortcut</key>
		<string>まとまのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Cornn Berry</string>
		<key>shortcut</key>
		<string>もこしのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Magost Berry</string>
		<key>shortcut</key>
		<string>ごすのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Rabuta Berry</string>
		<key>shortcut</key>
		<string>らぶたのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Nomel Berry</string>
		<key>shortcut</key>
		<string>のめるのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Spelon Berry</string>
		<key>shortcut</key>
		<string>のわきのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Pamtre Berry</string>
		<key>shortcut</key>
		<string>しーやのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Watmel Berry</string>
		<key>shortcut</key>
		<string>かいすのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Durin Berry</string>
		<key>shortcut</key>
		<string>どりのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Belue Berry</string>
		<key>shortcut</key>
		<string>べりぶのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Liechi Berry</string>
		<key>shortcut</key>
		<string>ちいらのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ganlon Berry</string>
		<key>shortcut</key>
		<string>りゅがのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Salac Berry</string>
		<key>shortcut</key>
		<string>かむらのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Petaya Berry</string>
		<key>shortcut</key>
		<string>やたぴのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Apicot Berry</string>
		<key>shortcut</key>
		<string>ずあのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Lansat Berry</string>
		<key>shortcut</key>
		<string>さんのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Starf Berry</string>
		<key>shortcut</key>
		<string>すたーのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Enigma Berry</string>
		<key>shortcut</key>
		<string>なぞのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Occa Berry</string>
		<key>shortcut</key>
		<string>おっかのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Passho Berry</string>
		<key>shortcut</key>
		<string>いとけのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Wacan Berry</string>
		<key>shortcut</key>
		<string>そくののみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Rindo Berry</string>
		<key>shortcut</key>
		<string>りんどのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Yache Berry</string>
		<key>shortcut</key>
		<string>やちぇのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Chople Berry</string>
		<key>shortcut</key>
		<string>よぷのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Kebia Berry</string>
		<key>shortcut</key>
		<string>びあーのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Shuca Berry</string>
		<key>shortcut</key>
		<string>しゅかのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Coba Berry</string>
		<key>shortcut</key>
		<string>ばこうのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Payapa Berry</string>
		<key>shortcut</key>
		<string>うたんのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Tanga Berry</string>
		<key>shortcut</key>
		<string>たんがのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Charti Berry</string>
		<key>shortcut</key>
		<string>よろぎのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Kasib Berry</string>
		<key>shortcut</key>
		<string>かしぶのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Haban Berry</string>
		<key>shortcut</key>
		<string>はばんのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Colbur Berry</string>
		<key>shortcut</key>
		<string>なものみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Babiri Berry</string>
		<key>shortcut</key>
		<string>りりばのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Chilan Berry</string>
		<key>shortcut</key>
		<string>ほずのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Micle Berry</string>
		<key>shortcut</key>
		<string>みくるのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Custap Berry</string>
		<key>shortcut</key>
		<string>いばんのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Jaboca Berry</string>
		<key>shortcut</key>
		<string>じゃぽのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Rowap Berry</string>
		<key>shortcut</key>
		<string>れんぶのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Roseli Berry</string>
		<key>shortcut</key>
		<string>ろぜるのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Kee Berry</string>
		<key>shortcut</key>
		<string>あっきのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Maranga Berry</string>
		<key>shortcut</key>
		<string>たらぷのみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Hopo Berry</string>
		<key>shortcut</key>
		<string>ぽふのみ</string>
	</dict>
</array>
</plist>
