<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>あくしゅう</string>
		<key>shortcut</key>
		<string>あくしゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>あめふらし</string>
		<key>shortcut</key>
		<string>あめふらし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かそく</string>
		<key>shortcut</key>
		<string>かそく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>カブトアーマー</string>
		<key>shortcut</key>
		<string>かぶとあーまー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>がんじょう</string>
		<key>shortcut</key>
		<string>がんじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しめりけ</string>
		<key>shortcut</key>
		<string>しめりけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>じゅうなん</string>
		<key>shortcut</key>
		<string>じゅうなん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すながくれ</string>
		<key>shortcut</key>
		<string>すながくれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>せいでんき</string>
		<key>shortcut</key>
		<string>せいでんき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちくでん</string>
		<key>shortcut</key>
		<string>ちくでん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちょすい</string>
		<key>shortcut</key>
		<string>ちょすい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どんかん</string>
		<key>shortcut</key>
		<string>どんかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ノーてんき</string>
		<key>shortcut</key>
		<string>のーてんき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふくがん</string>
		<key>shortcut</key>
		<string>ふくがん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふみん</string>
		<key>shortcut</key>
		<string>ふみん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>へんしょく</string>
		<key>shortcut</key>
		<string>へんしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>めんえき</string>
		<key>shortcut</key>
		<string>めんえき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>もらいび</string>
		<key>shortcut</key>
		<string>もらいび</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>りんぷん</string>
		<key>shortcut</key>
		<string>りんぷん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>マイペース</string>
		<key>shortcut</key>
		<string>まいぺーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きゅうばん</string>
		<key>shortcut</key>
		<string>きゅうばん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いかく</string>
		<key>shortcut</key>
		<string>いかく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かげふみ</string>
		<key>shortcut</key>
		<string>かげふみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さめはだ</string>
		<key>shortcut</key>
		<string>さめはだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふしぎなまもり</string>
		<key>shortcut</key>
		<string>ふしぎなまもり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふゆう</string>
		<key>shortcut</key>
		<string>ふゆう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ほうし</string>
		<key>shortcut</key>
		<string>ほうし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>シンクロ</string>
		<key>shortcut</key>
		<string>しんくろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>クリアボディ</string>
		<key>shortcut</key>
		<string>くりあぼでぃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しぜんかいふく</string>
		<key>shortcut</key>
		<string>しぜんかいふく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひらいしん</string>
		<key>shortcut</key>
		<string>ひらいしん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てんのめぐみ</string>
		<key>shortcut</key>
		<string>てんのめぐみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すいすい</string>
		<key>shortcut</key>
		<string>すいすい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ようりょくそ</string>
		<key>shortcut</key>
		<string>ようりょくそ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はっこう</string>
		<key>shortcut</key>
		<string>はっこう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>トレース</string>
		<key>shortcut</key>
		<string>とれーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちからもち</string>
		<key>shortcut</key>
		<string>ちからもち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どくのトゲ</string>
		<key>shortcut</key>
		<string>どくのとげ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>せいしんりょく</string>
		<key>shortcut</key>
		<string>せいしんりょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>マグマのよろい</string>
		<key>shortcut</key>
		<string>まぐまのよろい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>みずのベール</string>
		<key>shortcut</key>
		<string>みずのべーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>じりょく</string>
		<key>shortcut</key>
		<string>じりょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぼうおん</string>
		<key>shortcut</key>
		<string>ぼうおん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>あめうけざら</string>
		<key>shortcut</key>
		<string>あめうけざら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すなおこし</string>
		<key>shortcut</key>
		<string>すなおこし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>プレッシャー</string>
		<key>shortcut</key>
		<string>ぷれっしゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>あついしぼう</string>
		<key>shortcut</key>
		<string>あついしぼう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はやおき</string>
		<key>shortcut</key>
		<string>はやおき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ほのおのからだ</string>
		<key>shortcut</key>
		<string>ほのおのからだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にげあし</string>
		<key>shortcut</key>
		<string>にげあし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>するどいめ</string>
		<key>shortcut</key>
		<string>するどいめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かいりきバサミ</string>
		<key>shortcut</key>
		<string>かいりきばさみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ものひろい</string>
		<key>shortcut</key>
		<string>ものひろい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>なまけ</string>
		<key>shortcut</key>
		<string>なまけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はりきり</string>
		<key>shortcut</key>
		<string>はりきり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>メロメロボディ</string>
		<key>shortcut</key>
		<string>めろめろぼでぃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>プラス</string>
		<key>shortcut</key>
		<string>ぷらす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>マイナス</string>
		<key>shortcut</key>
		<string>まいなす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てんきや</string>
		<key>shortcut</key>
		<string>てんきや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ねんちゃく</string>
		<key>shortcut</key>
		<string>ねんちゃく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>だっぴ</string>
		<key>shortcut</key>
		<string>だっぴ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>こんじょう</string>
		<key>shortcut</key>
		<string>こんじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふしぎなうろこ</string>
		<key>shortcut</key>
		<string>ふしぎなうろこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヘドロえき</string>
		<key>shortcut</key>
		<string>へどろえき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんりょく</string>
		<key>shortcut</key>
		<string>しんりょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>もうか</string>
		<key>shortcut</key>
		<string>もうか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>げきりゅう</string>
		<key>shortcut</key>
		<string>げきりゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>むしのしらせ</string>
		<key>shortcut</key>
		<string>むしのしらせ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いしあたま</string>
		<key>shortcut</key>
		<string>いしあたま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひでり</string>
		<key>shortcut</key>
		<string>ひでり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ありじごく</string>
		<key>shortcut</key>
		<string>ありじごく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>やるき</string>
		<key>shortcut</key>
		<string>やるき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しろいけむり</string>
		<key>shortcut</key>
		<string>しろいけむり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヨガパワー</string>
		<key>shortcut</key>
		<string>よがぱわー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>シェルアーマー</string>
		<key>shortcut</key>
		<string>しぇるあーまー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>エアロック</string>
		<key>shortcut</key>
		<string>えあろっく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちどりあし</string>
		<key>shortcut</key>
		<string>ちどりあし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>でんきエンジン</string>
		<key>shortcut</key>
		<string>でんきえんじん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>とうそうしん</string>
		<key>shortcut</key>
		<string>とうそうしん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふくつのこころ</string>
		<key>shortcut</key>
		<string>ふくつのこころ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゆきがくれ</string>
		<key>shortcut</key>
		<string>ゆきがくれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>くいしんぼう</string>
		<key>shortcut</key>
		<string>くいしんぼう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いかりのつぼ</string>
		<key>shortcut</key>
		<string>いかりのつぼ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かるわざ</string>
		<key>shortcut</key>
		<string>かるわざ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>たいねつ</string>
		<key>shortcut</key>
		<string>たいねつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>たんじゅん</string>
		<key>shortcut</key>
		<string>たんじゅん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かんそうはだ</string>
		<key>shortcut</key>
		<string>かんそうはだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ダウンロード</string>
		<key>shortcut</key>
		<string>だうんろーど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てつのこぶし</string>
		<key>shortcut</key>
		<string>てつのこぶし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ポイズンヒール</string>
		<key>shortcut</key>
		<string>ぽいずんひーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てきおうりょく</string>
		<key>shortcut</key>
		<string>てきおうりょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スキルリンク</string>
		<key>shortcut</key>
		<string>すきるりんく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>うるおいボディ</string>
		<key>shortcut</key>
		<string>うるおいぼでぃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>サンパワー</string>
		<key>shortcut</key>
		<string>さんぱわー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はやあし</string>
		<key>shortcut</key>
		<string>はやあし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ノーマルスキン</string>
		<key>shortcut</key>
		<string>のーまるすきん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スナイパー</string>
		<key>shortcut</key>
		<string>すないぱー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>マジックガード</string>
		<key>shortcut</key>
		<string>まじっくがーど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ノーガード</string>
		<key>shortcut</key>
		<string>のーがーど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>あとだし</string>
		<key>shortcut</key>
		<string>あとだし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>テクニシャン</string>
		<key>shortcut</key>
		<string>てくにしゃん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>リーフガード</string>
		<key>shortcut</key>
		<string>りーふがーど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぶきよう</string>
		<key>shortcut</key>
		<string>ぶきよう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かたやぶり</string>
		<key>shortcut</key>
		<string>かたやぶり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きょううん</string>
		<key>shortcut</key>
		<string>きょううん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゆうばく</string>
		<key>shortcut</key>
		<string>ゆうばく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きけんよち</string>
		<key>shortcut</key>
		<string>きけんよち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>よちむ</string>
		<key>shortcut</key>
		<string>よちむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てんねん</string>
		<key>shortcut</key>
		<string>てんねん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いろめがね</string>
		<key>shortcut</key>
		<string>いろめがね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>フィルター</string>
		<key>shortcut</key>
		<string>ふぃるたー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スロースタート</string>
		<key>shortcut</key>
		<string>すろーすたーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きもったま</string>
		<key>shortcut</key>
		<string>きもったま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>よびみず</string>
		<key>shortcut</key>
		<string>よびみず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>アイスボディ</string>
		<key>shortcut</key>
		<string>あいすぼでぃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ハードロック</string>
		<key>shortcut</key>
		<string>はーどろっく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゆきふらし</string>
		<key>shortcut</key>
		<string>ゆきふらし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>みつあつめ</string>
		<key>shortcut</key>
		<string>みつあつめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おみとおし</string>
		<key>shortcut</key>
		<string>おみとおし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すてみ</string>
		<key>shortcut</key>
		<string>すてみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>マルチタイプ</string>
		<key>shortcut</key>
		<string>まるちたいぷ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>フラワーギフト</string>
		<key>shortcut</key>
		<string>ふらわーぎふと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ナイトメア</string>
		<key>shortcut</key>
		<string>ないとめあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>わるいてぐせ</string>
		<key>shortcut</key>
		<string>わるいてぐせ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ちからずく</string>
		<key>shortcut</key>
		<string>ちからずく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>あまのじゃく</string>
		<key>shortcut</key>
		<string>あまのじゃく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きんちょうかん</string>
		<key>shortcut</key>
		<string>きんちょうかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>まけんき</string>
		<key>shortcut</key>
		<string>まけんき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>よわき</string>
		<key>shortcut</key>
		<string>よわき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>のろわれボディ</string>
		<key>shortcut</key>
		<string>のろわれぼでぃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いやしのこころ</string>
		<key>shortcut</key>
		<string>いやしのこころ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>フレンドガード</string>
		<key>shortcut</key>
		<string>ふれんどがーど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>くだけるよろい</string>
		<key>shortcut</key>
		<string>くだけるよろい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヘヴィメタル</string>
		<key>shortcut</key>
		<string>へぶぃめたる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ライトメタル</string>
		<key>shortcut</key>
		<string>らいとめたる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>マルチスケイル</string>
		<key>shortcut</key>
		<string>まるちすけいる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どくぼうそう</string>
		<key>shortcut</key>
		<string>どくぼうそう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ねつぼうそう</string>
		<key>shortcut</key>
		<string>ねつぼうそう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しゅうかく</string>
		<key>shortcut</key>
		<string>しゅうかく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>テレパシー</string>
		<key>shortcut</key>
		<string>てれぱしー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ムラっけ</string>
		<key>shortcut</key>
		<string>むらっけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぼうじん</string>
		<key>shortcut</key>
		<string>ぼうじん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どくしゅ</string>
		<key>shortcut</key>
		<string>どくしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さいせいりょく</string>
		<key>shortcut</key>
		<string>さいせいりょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はとむね</string>
		<key>shortcut</key>
		<string>はとむね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すなかき</string>
		<key>shortcut</key>
		<string>すなかき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ミラクルスキン</string>
		<key>shortcut</key>
		<string>みらくるすきん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>アナライズ</string>
		<key>shortcut</key>
		<string>あならいず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>イリュージョン</string>
		<key>shortcut</key>
		<string>いりゅーじょん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かわりもの</string>
		<key>shortcut</key>
		<string>かわりもの</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すりぬけ</string>
		<key>shortcut</key>
		<string>すりぬけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ミイラ</string>
		<key>shortcut</key>
		<string>みいら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>じしんかじょう</string>
		<key>shortcut</key>
		<string>じしんかじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>せいぎのこころ</string>
		<key>shortcut</key>
		<string>せいぎのこころ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>びびり</string>
		<key>shortcut</key>
		<string>びびり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>マジックミラー</string>
		<key>shortcut</key>
		<string>まじっくみらー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうしょく</string>
		<key>shortcut</key>
		<string>そうしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いたずらごころ</string>
		<key>shortcut</key>
		<string>いたずらごころ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すなのちから</string>
		<key>shortcut</key>
		<string>すなのちから</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>てつのトゲ</string>
		<key>shortcut</key>
		<string>てつのとげ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ダルマモード</string>
		<key>shortcut</key>
		<string>だるまもーど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しょうりのほし</string>
		<key>shortcut</key>
		<string>しょうりのほし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ターボブレイズ</string>
		<key>shortcut</key>
		<string>たーぼぶれいず</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>テラボルテージ</string>
		<key>shortcut</key>
		<string>てらぼるてーじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>アロマベール</string>
		<key>shortcut</key>
		<string>あろまべーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>フラワーベール</string>
		<key>shortcut</key>
		<string>ふらわーべーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ほおぶくろ</string>
		<key>shortcut</key>
		<string>ほおぶくろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>へんげんじざい</string>
		<key>shortcut</key>
		<string>へんげんじざい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ファーコート</string>
		<key>shortcut</key>
		<string>ふぁーこーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>マジシャン</string>
		<key>shortcut</key>
		<string>まじしゃん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぼうだん</string>
		<key>shortcut</key>
		<string>ぼうだん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かちき</string>
		<key>shortcut</key>
		<string>かちき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>がんじょうあご</string>
		<key>shortcut</key>
		<string>がんじょうあご</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>フリーズスキン</string>
		<key>shortcut</key>
		<string>ふりーずすきん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スイートベール</string>
		<key>shortcut</key>
		<string>すいーとべーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>バトルスイッチ</string>
		<key>shortcut</key>
		<string>ばとるすいっち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はやてのつばさ</string>
		<key>shortcut</key>
		<string>はやてのつばさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>メガランチャー</string>
		<key>shortcut</key>
		<string>めがらんちゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>くさのけがわ</string>
		<key>shortcut</key>
		<string>くさのけがわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きょうせい</string>
		<key>shortcut</key>
		<string>きょうせい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かたいツメ</string>
		<key>shortcut</key>
		<string>かたいつめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>フェアリースキン</string>
		<key>shortcut</key>
		<string>ふぇありーすきん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぬめぬめ</string>
		<key>shortcut</key>
		<string>ぬめぬめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スカイスキン</string>
		<key>shortcut</key>
		<string>すかいすきん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おやこあい</string>
		<key>shortcut</key>
		<string>おやこあい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ダークオーラ</string>
		<key>shortcut</key>
		<string>だーくおーら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>フェアリーオーラ</string>
		<key>shortcut</key>
		<string>ふぇありーおーら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>オーラブレイク</string>
		<key>shortcut</key>
		<string>おーらぶれいく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はじまりのうみ</string>
		<key>shortcut</key>
		<string>はじまりのうみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おわりのだいち</string>
		<key>shortcut</key>
		<string>おわりのだいち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>デルタストリーム</string>
		<key>shortcut</key>
		<string>でるたすとりーむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>じきゅうりょく</string>
		<key>shortcut</key>
		<string>じきゅうりょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にげごし</string>
		<key>shortcut</key>
		<string>にげごし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ききかいひ</string>
		<key>shortcut</key>
		<string>ききかいひ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>みずがため</string>
		<key>shortcut</key>
		<string>みずがため</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひとでなし</string>
		<key>shortcut</key>
		<string>ひとでなし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>リミットシールド</string>
		<key>shortcut</key>
		<string>りみっとしーるど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はりこみ</string>
		<key>shortcut</key>
		<string>はりこみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すいほう</string>
		<key>shortcut</key>
		<string>すいほう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はがねつかい</string>
		<key>shortcut</key>
		<string>はがねつかい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぎゃくじょう</string>
		<key>shortcut</key>
		<string>ぎゃくじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゆきかき</string>
		<key>shortcut</key>
		<string>ゆきかき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>えんかく</string>
		<key>shortcut</key>
		<string>えんかく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>うるおいボイス</string>
		<key>shortcut</key>
		<string>うるおいぼいす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヒーリングシフト</string>
		<key>shortcut</key>
		<string>ひーりんぐしふと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>エレキスキン</string>
		<key>shortcut</key>
		<string>えれきすきん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>サーフテール</string>
		<key>shortcut</key>
		<string>さーふてーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぎょぐん</string>
		<key>shortcut</key>
		<string>ぎょぐん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ばけのかわ</string>
		<key>shortcut</key>
		<string>ばけのかわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きずなへんげ</string>
		<key>shortcut</key>
		<string>きずなへんげ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スワームチェンジ</string>
		<key>shortcut</key>
		<string>すわーむちぇんじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふしょく</string>
		<key>shortcut</key>
		<string>ふしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぜったいねむり</string>
		<key>shortcut</key>
		<string>ぜったいねむり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>じょおうのいげん</string>
		<key>shortcut</key>
		<string>じょおうのいげん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>とびだすなかみ</string>
		<key>shortcut</key>
		<string>とびだすなかみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おどりこ</string>
		<key>shortcut</key>
		<string>おどりこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>バッテリー</string>
		<key>shortcut</key>
		<string>ばってりー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>もふもふ</string>
		<key>shortcut</key>
		<string>もふもふ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ビビッドボディ</string>
		<key>shortcut</key>
		<string>びびっどぼでぃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ソウルハート</string>
		<key>shortcut</key>
		<string>そうるはーと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>カーリーヘアー</string>
		<key>shortcut</key>
		<string>かーりーへあー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>レシーバー</string>
		<key>shortcut</key>
		<string>れしーばー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かがくのちから</string>
		<key>shortcut</key>
		<string>かがくのちから</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ビーストブースト</string>
		<key>shortcut</key>
		<string>びーすとぶーすと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ARシステム</string>
		<key>shortcut</key>
		<string>えーあーるしすてむ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>エレキメイカー</string>
		<key>shortcut</key>
		<string>えれきめいかー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>サイコメイカー</string>
		<key>shortcut</key>
		<string>さいこめいかー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ミストメイカー</string>
		<key>shortcut</key>
		<string>みすとめいかー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>グラスメイカー</string>
		<key>shortcut</key>
		<string>ぐらすめいかー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>メタルプロテクト</string>
		<key>shortcut</key>
		<string>めたるぷろてくと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ファントムガード</string>
		<key>shortcut</key>
		<string>ふぁんとむがーど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>プリズムアーマー</string>
		<key>shortcut</key>
		<string>ぷりずむあーまー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ブレインフォース</string>
		<key>shortcut</key>
		<string>ぶれいんふぉーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふとうのけん</string>
		<key>shortcut</key>
		<string>ふとうのけん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふくつのたて</string>
		<key>shortcut</key>
		<string>ふくつのたて</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>リベロ</string>
		<key>shortcut</key>
		<string>りべろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>たまひろい</string>
		<key>shortcut</key>
		<string>たまひろい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>わたげ</string>
		<key>shortcut</key>
		<string>わたげ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>スクリューおびれ</string>
		<key>shortcut</key>
		<string>すくりゅーおびれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ミラーアーマー</string>
		<key>shortcut</key>
		<string>みらーあーまー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>うのミサイル</string>
		<key>shortcut</key>
		<string>うのみさいる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すじがねいり</string>
		<key>shortcut</key>
		<string>すじがねいり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>じょうききかん</string>
		<key>shortcut</key>
		<string>じょうききかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>パンクロック</string>
		<key>shortcut</key>
		<string>ぱんくろっく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>すなはき</string>
		<key>shortcut</key>
		<string>すなはき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>こおりのりんぷん</string>
		<key>shortcut</key>
		<string>こおりのりんぷん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>じゅくせい</string>
		<key>shortcut</key>
		<string>じゅくせい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>アイスフェイス</string>
		<key>shortcut</key>
		<string>あいすふぇいす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>パワースポット</string>
		<key>shortcut</key>
		<string>ぱわーすぽっと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぎたい</string>
		<key>shortcut</key>
		<string>ぎたい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>バリアフリー</string>
		<key>shortcut</key>
		<string>ばりあふりー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はがねのせいしん</string>
		<key>shortcut</key>
		<string>はがねのせいしん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ほろびのボディ</string>
		<key>shortcut</key>
		<string>ほろびのぼでぃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>さまようたましい</string>
		<key>shortcut</key>
		<string>さまようたましい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ごりむちゅう</string>
		<key>shortcut</key>
		<string>ごりむちゅう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かがくへんかガス</string>
		<key>shortcut</key>
		<string>かがくへんかがす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>パステルベール</string>
		<key>shortcut</key>
		<string>ぱすてるべーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はらぺこスイッチ</string>
		<key>shortcut</key>
		<string>はらぺこすいっち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>クイックドロウ</string>
		<key>shortcut</key>
		<string>くいっくどろう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふかしのこぶし</string>
		<key>shortcut</key>
		<string>ふかしのこぶし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>トランジスタ</string>
		<key>shortcut</key>
		<string>とらんじすた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>りゅうのあぎと</string>
		<key>shortcut</key>
		<string>りゅうのあぎと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きみょうなくすり</string>
		<key>shortcut</key>
		<string>きみょうなくすり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しろのいななき</string>
		<key>shortcut</key>
		<string>しろのいななき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>くろのいななき</string>
		<key>shortcut</key>
		<string>くろのいななき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>じんばいったい</string>
		<key>shortcut</key>
		<string>じんばいったい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いかりのこうら</string>
		<key>shortcut</key>
		<string>いかりのこうら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>いわはこび</string>
		<key>shortcut</key>
		<string>いわはこび</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おうごんのからだ</string>
		<key>shortcut</key>
		<string>おうごんのからだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おもかげやどし</string>
		<key>shortcut</key>
		<string>おもかげやどし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>おもてなし</string>
		<key>shortcut</key>
		<string>おもてなし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かぜのり</string>
		<key>shortcut</key>
		<string>かぜのり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>かんろなミツ</string>
		<key>shortcut</key>
		<string>かんろなみつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きょうえん</string>
		<key>shortcut</key>
		<string>きょうえん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きよめのしお</string>
		<key>shortcut</key>
		<string>きよめのしお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きれあじ</string>
		<key>shortcut</key>
		<string>きれあじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>きんしのちから</string>
		<key>shortcut</key>
		<string>きんしのちから</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>クォークチャージ</string>
		<key>shortcut</key>
		<string>くぉーくちゃーじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>こだいかっせい</string>
		<key>shortcut</key>
		<string>こだいかっせい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>こぼれダネ</string>
		<key>shortcut</key>
		<string>こぼれだね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>こんがりボディ</string>
		<key>shortcut</key>
		<string>こんがりぼでぃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しれいとう</string>
		<key>shortcut</key>
		<string>しれいとう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>しんがん</string>
		<key>shortcut</key>
		<string>しんがん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ゼロフォーミング</string>
		<key>shortcut</key>
		<string>ぜろふぉーみんぐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>そうだいしょう</string>
		<key>shortcut</key>
		<string>そうだいしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>テイルアーマー</string>
		<key>shortcut</key>
		<string>ているあーまー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>テラスシェル</string>
		<key>shortcut</key>
		<string>てらすしぇる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>テラスチェンジ</string>
		<key>shortcut</key>
		<string>てらすちぇんじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>でんきにかえる</string>
		<key>shortcut</key>
		<string>でんきにかえる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どくくぐつ</string>
		<key>shortcut</key>
		<string>どくくぐつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どくげしょう</string>
		<key>shortcut</key>
		<string>どくげしょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どくのくさり</string>
		<key>shortcut</key>
		<string>どくのくさり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>どしょく</string>
		<key>shortcut</key>
		<string>どしょく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>とれないにおい</string>
		<key>shortcut</key>
		<string>とれないにおい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ねつこうかん</string>
		<key>shortcut</key>
		<string>ねつこうかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ハドロンエンジン</string>
		<key>shortcut</key>
		<string>はどろんえんじん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ばんけん</string>
		<key>shortcut</key>
		<string>ばんけん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>はんすう</string>
		<key>shortcut</key>
		<string>はんすう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひひいろのこどう</string>
		<key>shortcut</key>
		<string>ひひいろのこどう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>びんじょう</string>
		<key>shortcut</key>
		<string>びんじょう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ふうりょくでんき</string>
		<key>shortcut</key>
		<string>ふうりょくでんき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>マイティチェンジ</string>
		<key>shortcut</key>
		<string>まいてぃちぇんじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>わざわいのうつわ</string>
		<key>shortcut</key>
		<string>わざわいのうつわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>わざわいのおふだ</string>
		<key>shortcut</key>
		<string>わざわいのおふだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>わざわいのたま</string>
		<key>shortcut</key>
		<string>わざわいのたま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>わざわいのつるぎ</string>
		<key>shortcut</key>
		<string>わざわいのつるぎ</string>
	</dict>
</array>
</plist>
